<launch>
<group ns="ns1">
  <node  name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <!--param name="pcap" value="/home/tony-sti/lidar_data/lm75-170616-roadtest.pcap"/ -->
    <param name="device_ip" value="192.168.1.200" />
    <param name="msop_port" value="6699"/>
    <param name="difop_port" value="7788"/>
  </node>

  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="angle_path" value="$(find rslidar_pointcloud)/data/rs_bpearl/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_bpearl/ChannelNum.csv" />
    <param name="max_distance" value="150"/>
    <param name="min_distance" value="0.1"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="3"/>
  </node>
</group>

<group ns="ns2">
  <node  name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <!--param name="pcap" value="/home/tony-sti/lidar_data/lm75-170616-roadtest.pcap"/ -->
    <param name="device_ip" value="192.168.1.201"/>
    <param name="msop_port" value="9966"/>
    <param name="difop_port" value="8877"/>
  </node>

  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
    <param name="model" value="RSBPEARL"/>
    <param name="angle_path" value="$(find rslidar_pointcloud)/data/rs_bpearl2/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/rs_bpearl2/ChannelNum.csv" />
    <param name="max_distance" value="150"/>
    <param name="min_distance" value="0.1"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="3"/>
  </node>
</group>

<node name="rviz" pkg="rviz" type="rviz"  args="-d $(find rslidar_pointcloud)/rviz_cfg/rslidar.rviz" />

</launch>
